nav 
{
    position: fixed;
    height: 68px;
}

#nav-logo
{
    height: 67px;
    width: 166px;

}

#navbarNav
{
    font-size: 16px;
    font-family: "Outfit", sans-serif;
}

#navbarNav a:hover
{
    color:blue;
}

